# Ignore Python cache files
__pycache__/
*.pyc

# Ignore egg-info directory
*.egg-info

Docker-build/ollama.log
Docker/ollama.log
# Ignore .env file
.env

venv/
/mnt/media/repos/spandaai-platform/platform/testing/promptfoo-functional/promptfoo-ui/node_modules