[submodule "platform/observability/dockprom"]
	path = platform/observability/dockprom
	url = git@github.com:stefanprodan/dockprom.git
[submodule "platform/train/Llama-Factory"]
	path = platform/train/Llama-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "platform/train/unsloth"]
	path = platform/train/unsloth
	url = https://github.com/spandaai/unsloth.git
[submodule "platform/train/LLaMA-Factory"]
	path = platform/train/LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
[submodule "domains/EdTech/domains/EdTech/HybridGraphClustering"]
	path = domains/EdTech/domains/EdTech/HybridGraphClustering
	url = https://github.com/spandaai/HybridGraphClustering.git
