# Set GPU to -1 for CPU processing, or gpu id for using a particular gpu
GPU=0

# Set the range for Yaw (rotation around the vertical axis)
YAW_HIGH=30
YAW_LOW=-30

# Set the range for Pitch (rotation around the horizontal axis)
PITCH_HIGH=30
PITCH_LOW=-40