# API Gateway will run on this port
PORT=8090

# API Gateway Configuration - for microservices - where all microservies will run
DATA_PROCESSING_URL=http://localhost:9001
EDU_AI_AGENTS_URL=http://localhost:9002
WEBSOCKET_SERVICE_URL=ws://localhost:9000
