    # Hugging Face Token for vLLM services
    HF_TOKEN=your_hf_token_here

    # # VLLM Services
    # VLLM_URL_FOR_IMAGE=http://vllmqwenvision:8002/v1/chat/completions

    # # VLLM Models
    # VLLM_MODEL_FOR_IMAGE=Qwen/Qwen2-VL-2B-Instruct-AWQ

    #############OLLAMA PARAMS###################
    OLLAMA_URL = "http://ollama:11434"         
    OLLAMA_MODEL_FOR_IMAGE = "llava-phi3"
